.ProfileFoto {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin-bottom: 30px;
}

.Img {
  width: 100%;
  max-width: 180px;
  aspect-ratio: 1;
  border-radius: 140px;
  overflow: hidden;
  object-fit: cover;
}
