.Projects {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.Container {
  width: 100%;
}

.Project {
  margin-bottom: 20px;
}

.SubSection {
  padding: 0px 20px 15px;
}

.Description {
  margin-left: 10px;
  color: #666;
}

.SubHeader {
  margin-bottom: 10px;
}

.ListItems {
  margin-left: 10px;
  color: #666;
}

.ListItem {
  margin-bottom: 7px;
}

.Gallery {
  display: flex;
  overflow-x: scroll;
  margin: 0 10px;
}

.GalleryImg {
  height: 200px;
  margin-right: 10px;
  border: solid 1px #aaa;
  opacity: 0.7;
  transition-duration: 0.3s;
  transition-property: opacity filter;
  -webkit-filter: grayscale(80%);
  filter: grayscale(80%);
}

.GalleryImg:hover,
.GalleryImg:active {
  opacity: 1;
  filter: none;
}

@media print {
  .Projects {
    display: block;
  }

  .Project {
    page-break-after: always;
  }

  .Project:last-child {
    page-break-after: auto;
  }

  .Gallery {
    display: block;
    overflow: auto;
  }

  .GalleryImg {
    height: 150px;
    display: inline-block;
    margin-bottom: 10px;
    opacity: 1;
    transition-property: none;
    -webkit-filter: none;
    filter: none;
  }
}
