.ProjectTitle {
  display: flex;
  flex-wrap: wrap;
  align-items: baseline;
  margin: 0 8px 16px;
  padding: 8px 16px 16px;
  border-radius: 15px;
  border-top-left-radius: 0;
  background-color: hsl(var(--hue), var(--sat), 22%);
}

.ProjectName {
  margin-bottom: 3px;
  font-size: 1.3rem;
  color: #fff;
  flex-basis: calc(100% - 40px);
}

.CompanyLink {
  display: flex;
  flex-basis: 100%;
  align-items: center;
  margin-left: 5px;
  height: 16px;
}

.CompanyTag {
  font-size: 0.9rem;
  color: #aaa;
  margin-right: 5px;
}

.Link {
  padding: 8px;
}

.IconLink {
  opacity: 0.5;
  display: flex;
  margin-bottom: -8px;
  filter: invert(1);
}

@media screen and (min-width: 480px) {
  .ProjectTitle {
    flex-direction: row;
  }
}

@media screen and (min-width: 640px) {
  .ProjectName {
    flex-basis: auto;
  }
}

@media print {
  .IconUp,
  .IconLink {
    display: none;
  }
}
